# --------------------------------
# Mac stuff
# --------------------------------
.DS_Store

# --------------------------------
# IntelliJ Idea stuff
# --------------------------------
.idea/
*.iml
*.ipr
*.iws
out/

# --------------------------------
# Gradle stuff
# --------------------------------
.gradle/
.nb-gradle/

# --------------------------------
# Eclipse stuff
# --------------------------------
**/.project
**/.settings
**/.classpath

# --------------------------------
# Netbeans stuff
# --------------------------------
**/module.xml
**/*.swp
**/nbproject
.nb-gradle-properties

#---------------------------------
# Inkscape stuff
#---------------------------------
**/private

# --------------------------------
# Misc and others
# --------------------------------
**/bin/
**/build/
**/target/
**/*.class
**/*.jar
**/*.orig
**/*.bak
utility/dat
.gitignore
**/*.scss
/build/
**/*.prefs
/.m2/
